@import "tailwindcss";


@theme {
  --breakpoint-mobile: 32rem;
  --color-White: #ffffff;
  --color-lightPink: #f9f0ff
--color-grayishPurple: #8c6991
--color-darkPurple: #2f1533
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed */
  font-style: normal;
}
body {
  font-family: "Work Sans", sans-serif;
}
